.ptf-container {
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    .img-container {
      img {
        transform: scale(1.2);
      }
      .overlay {
        z-index: 2;
        opacity: 0.6;
      }

      .icon {
        z-index: 2;
        opacity: 1;
      }
    }
  }

  .img-container {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s ease-in-out;
    }

    .overlay {
      background-color: #000;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all 0.4s ease;
      opacity: 0;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      color: #fff;
      transition: all 0.4s ease;
    }
  }

  .desc-container {
    border: 1px solid #ccc;
    position: relative;
    .title {
      font-size: 18px;
      line-height: 30px;
      font-family: Roboto Mono, monospace;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: 700;
    }

    .desc {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 45px;
    }

    .stack {
      p {
        font-family: Roboto Mono, monospace;
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
    }

    .url {
      position: absolute;
      right: 3px;
      bottom: 3px;
      a {
        font-size: 14px;
      }
    }
  }
}
