.navbar-light {
  background-color: #0b2239 !important;
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: #669dd4;
        }
      }

      .active {
        color: #669dd4;
      }
    }
  }
}

.navbar-toggler {
  filter: invert(100%);
}
