<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      (click)="isExpanded = !isExpanded"
      [attr.aria-expanded]="!isExpanded"
      toggle="collapse"
      #expand
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li (click)="!isHidden(expand) && expand.click()" class="nav-item mx-4" *ngFor="let page of pages">
          <a
            class="nav-link"
            [routerLink]="[page.url]"
            routerLinkActive="active"
            ria-current="page"
            >{{ page.name | uppercase}}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
