.resume-bloc {

  border-left: 2px solid #669DD4;
  padding-left: 25px;
  padding-bottom: 40px;
  position: relative;
  &::before {
    width: 12px;
    height: 12px;
    border: 2px solid #669DD4;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    left: -7px;
  }


  .bloc-title {
    text-transform: uppercase;
    color: #669DD4;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono, monospace;
    font-weight: 700;
    padding-bottom: 5px;
  }

  .bloc-date {
    font-family: Inconsolata, monospace;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    padding-bottom: 10px;
  }


}
