<div class="home-container d-flex">
  <div class="content d-flex align-items-center col-md-8">
    <div class="text-light content-items mx-5">
      <p class="personal-profile-hi">Hi,</p>
      <p class="personal-profile-name ls-06">
        I am <span class="name">Ainga Ramangalahy</span>
      </p>
      <p class="personal-profile-work ls-06">A full stack web developer</p>
      <p class="main-text ls-06">
        I am a 24 years old passionate web developer based in Antananarivo.
        <br />
        Curious and motivated by the desire to learn and improve. I have a sense
        of listening and service reinforced by working on various projects. An
        evolving technical competence through continuous training.
      </p>
      <div class="cta">
        <a [routerLink]="['/portfolio']" class="btn mx-2 text-light">
          <span>My portfolio</span>
        </a>
        <a [routerLink]="['/contact']" class="btn mx-2 text-light">
          <span>Get in touch</span>
        </a>
      </div>
      <!-- <p class="personal-profile-social align-self-end">
        <a href="https://github.com/aingaRamangalahy" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ainga-ramangalahy-2a98b014a/"
          target="_blank"
          ><i class="fa fa-linkedin-square"></i
        ></a>
        <a href="https://www.facebook.com/ramangalahy.ainga/" target="_blank"
          ><i class="fa fa-facebook-square"></i
        ></a>
      </p> -->
      <app-home-img-v2></app-home-img-v2>
    </div>
  </div>
</div>
