<div class="home-container">
  <div class="content col-md-6">
    <div class="text-light">
      <p class="personal-profile-name">Ainga Ramangalahy</p>
      <p class="personal-profile-work">Full stack web developer</p>
      <p>
        I am a 24 years old passionate web developer based in Antananarivo.
        <br />
        Curious and motivated by the desire to learn and improve. I have a sense
        of listening and service reinforced by 1 year of experience working on
        various projects. A constantly evolving technical capacity by constant
        training.
      </p>
      <p class="personal-profile-social">
        <a href="https://github.com/aingaRamangalahy" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ainga-ramangalahy-2a98b014a/"
          target="_blank"
          ><i class="fa fa-linkedin-square"></i
        ></a>
        <a href="https://www.facebook.com/ramangalahy.ainga/" target="_blank"
          ><i class="fa fa-facebook-square"></i
        ></a>
      </p>
    </div>
  </div>
</div>
