<div class="home-container d-flex">
  <div class="content d-flex align-items-center col-md-8">
    <div class="text-light content-items mx-5 px-3">
      <p class="personal-profile-hi">Hi, </p>
      <p class="personal-profile-name">I am  <span class="name">Ainga Ramangalahy</span></p>
      <p class="personal-profile-work">A full stack web developer</p>
      <p class="main-text">
        I am a 24 years old passionate web developer based in Antananarivo.
        <br />
        Curious and motivated by the desire to learn and improve. I have a sense
        of listening and service reinforced by 1 year of experience working on
        various projects. An evolving technical competence through continuous training.
      </p>
      <p class="personal-profile-social">
        <a href="https://github.com/aingaRamangalahy" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ainga-ramangalahy-2a98b014a/"
          target="_blank"
          ><i class="fa fa-linkedin-square"></i
        ></a>
        <a href="https://www.facebook.com/ramangalahy.ainga/" target="_blank"
          ><i class="fa fa-facebook-square"></i
        ></a>
      </p>
      <div class="myself d-none d-md-inline">
        <img src="assets/me.png" alt="ainga ramangalahy">
      </div>
    </div>
    </div>
  </div>
