.skill-bloc-container {
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all .3s ease;
  position: relative;


  &:hover {

    .logo {
      transform: translateY(5px);
    }
    .progress {
      .progress-bar {
        background-color: #669DD4;
      }

    }
  }

  .logo {
    transition: all .4s ease-in-out;
    font-size: 70px;
  }

  .progress {
    position: relative;
    height: 0.5rem !important;
    overflow: visible;
    .progress-bar {
      background: #ccc;
      transition: all .4s ease-in-out;
    }

    .value {
      position: absolute;
      font-weight: 600;
      top: -17px;
      right: 3px;
    }
  }
}
